{% extends 'admin_user\admin_base.html' %}
{% block content %}
<h2>{% if doctor.pk %}Update{% else %}Add{% endif %} Doctor</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_image">Image:</label>
        <input type="file" id="id_image" name="image" accept="image/*" class="form-control-file">
    </div>
    <div class="form-group">
        <label for="id_first_name">First Name:</label>
        <input type="text" id="id_first_name" name="first_name" value="{{ doctor.first_name }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_last_name">Last Name:</label>
        <input type="text" id="id_last_name" name="last_name" value="{{ doctor.last_name }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_department">Department:</label>
        <select id="id_department" name="department" class="form-control" required>
            {% for department in departments %}
                <option value="{{ department.pk }}" {% if doctor.department_id == department.pk %} selected {% endif %}>{{ department.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" value="{{ doctor.email }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_phone_number">Phone Number:</label>
        <input type="text" id="id_phone_number" name="phone_number" value="{{ doctor.phone_number }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_specialization">Specialization:</label>
        <input type="text" id="id_specialization" name="specialization" value="{{ doctor.specialization }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_experience_years">Experience Years:</label>
        <input type="number" id="id_experience_years" name="experience_years" value="{{ doctor.experience_years }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_bio">Bio:</label>
        <textarea id="id_bio" name="bio" class="form-control">{{ doctor.bio }}</textarea>
    </div>
    
    <div class="form-group">
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" value="{{ doctor.username }}" class="form-control"{% if doctor.pk %} disabled{% endif %}>
    </div>
    <div class="form-group">
        <label for="id_password">password:</label>
        <input type="password" id="id_username" name="password" value="{{ doctor.password}}" class="form-control" {% if doctor.pk %} disabled{% endif %}>
    </div>
    <div class="form-group">
        <label for="id_pascon">Confirm Password:</label>
        <input type="password" id="id_username" name="password1" value="{{ doctor.password1 }}" class="form-control" {% if doctor.pk %} disabled{% endif %}>
    </div>
    
    <button type="submit" class="btn btn-primary">{% if doctor.pk %}Update{% else %}Add{% endif %}</button>
</form>
{% endblock %}
